extends layout

block content
	div.container
		div.pre-auth
			p
				h1 TubeWalk
				h2 Accelerating the efficiency of your unproductivity
				p We specialize in swag
			center
				button.btn.btn-primary#login-link.
					Click Here To Get Started!
		div.post-auth(style="display:none")
			div.row
				div.videobox#disp1
					div.player1
						p Display 1
				div.videobox#disp2
					div.player2
						p Display 2
			div.row
				div.videobox#disp3
					p Display 3
				div.videobox#disp4
					p Display 4
