extends layout


block content
	div.container.contentbg
		div.post-auth.add-top-margin
			div.fixthiscrapnow
				div.span6
					div#disp1
						p Display 1
				div.span6
					div#disp2
						p Display 2
			div.fixthiscrapnow
				div.span6
					div#disp3
						p Display 3
				div.span6
					div#disp4
						p Display 4
