body {
  overflow: hidden !important;
}
.jumbotron {
  background-image: url("/static/images/bg.png");
  background-repeat: repeat;
}
#player0,
#player1,
#player2,
#player3 {
  float: left;
  width: 50%;
}
#button-meh {
  width: 100%;
}
div.container {
  height: 100%;
  min-height: 2000px;
}
